<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{87,57}</string>
                <key>spriteSourceSize</key>
                <string>{213,213}</string>
                <key>textureRect</key>
                <string>{{130,497},{87,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,14}</string>
                <key>spriteSize</key>
                <string>{105,99}</string>
                <key>spriteSourceSize</key>
                <string>{213,213}</string>
                <key>textureRect</key>
                <string>{{146,1},{105,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,14}</string>
                <key>spriteSize</key>
                <string>{125,101}</string>
                <key>spriteSourceSize</key>
                <string>{213,213}</string>
                <key>textureRect</key>
                <string>{{146,102},{125,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,8}</string>
                <key>spriteSize</key>
                <string>{139,113}</string>
                <key>spriteSourceSize</key>
                <string>{213,213}</string>
                <key>textureRect</key>
                <string>{{1,211},{139,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{143,109}</string>
                <key>spriteSourceSize</key>
                <string>{213,213}</string>
                <key>textureRect</key>
                <string>{{1,1},{143,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{143,97}</string>
                <key>spriteSourceSize</key>
                <string>{213,213}</string>
                <key>textureRect</key>
                <string>{{1,112},{143,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-3}</string>
                <key>spriteSize</key>
                <string>{137,97}</string>
                <key>spriteSourceSize</key>
                <string>{213,213}</string>
                <key>textureRect</key>
                <string>{{142,229},{137,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-2}</string>
                <key>spriteSize</key>
                <string>{135,97}</string>
                <key>spriteSourceSize</key>
                <string>{213,213}</string>
                <key>textureRect</key>
                <string>{{1,326},{135,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-2}</string>
                <key>spriteSize</key>
                <string>{127,97}</string>
                <key>spriteSourceSize</key>
                <string>{213,213}</string>
                <key>textureRect</key>
                <string>{{138,368},{127,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-3}</string>
                <key>spriteSize</key>
                <string>{127,97}</string>
                <key>spriteSourceSize</key>
                <string>{213,213}</string>
                <key>textureRect</key>
                <string>{{1,425},{127,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>talent_6.png</string>
            <key>size</key>
            <string>{252,555}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17fdc6720089161460b39084d23a85a0:aa9b761f0d6afb3a1017cbcd11785103:11fe22ff579260a0497041592167ed6f$</string>
            <key>textureFileName</key>
            <string>talent_6.png</string>
        </dict>
    </dict>
</plist>
