<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,13}</string>
                <key>spriteSize</key>
                <string>{75,97}</string>
                <key>spriteSourceSize</key>
                <string>{213,213}</string>
                <key>textureRect</key>
                <string>{{1,1},{75,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,11}</string>
                <key>spriteSize</key>
                <string>{75,103}</string>
                <key>spriteSourceSize</key>
                <string>{213,213}</string>
                <key>textureRect</key>
                <string>{{100,1},{75,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,9}</string>
                <key>spriteSize</key>
                <string>{91,103}</string>
                <key>spriteSourceSize</key>
                <string>{213,213}</string>
                <key>textureRect</key>
                <string>{{1,167},{91,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,9}</string>
                <key>spriteSize</key>
                <string>{93,107}</string>
                <key>spriteSourceSize</key>
                <string>{213,213}</string>
                <key>textureRect</key>
                <string>{{100,266},{93,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,9}</string>
                <key>spriteSize</key>
                <string>{95,107}</string>
                <key>spriteSourceSize</key>
                <string>{213,213}</string>
                <key>textureRect</key>
                <string>{{1,361},{95,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,8}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{213,213}</string>
                <key>textureRect</key>
                <string>{{106,167},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,12}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{213,213}</string>
                <key>textureRect</key>
                <string>{{1,260},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,12}</string>
                <key>spriteSize</key>
                <string>{99,97}</string>
                <key>spriteSourceSize</key>
                <string>{213,213}</string>
                <key>textureRect</key>
                <string>{{110,361},{99,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,11}</string>
                <key>spriteSize</key>
                <string>{99,87}</string>
                <key>spriteSourceSize</key>
                <string>{213,213}</string>
                <key>textureRect</key>
                <string>{{96,78},{99,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,14}</string>
                <key>spriteSize</key>
                <string>{93,83}</string>
                <key>spriteSourceSize</key>
                <string>{213,213}</string>
                <key>textureRect</key>
                <string>{{1,78},{93,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>talent_46.png</string>
            <key>size</key>
            <string>{210,459}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1cbbdcfc0d26be9299940f78870639a:9a876d4bd2be09f32346978a8bc06733:4a617ab884f1cdfd72354cf0b0a8845c$</string>
            <key>textureFileName</key>
            <string>talent_46.png</string>
        </dict>
    </dict>
</plist>
