<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-22}</string>
                <key>spriteSize</key>
                <string>{53,30}</string>
                <key>spriteSourceSize</key>
                <string>{333,250}</string>
                <key>textureRect</key>
                <string>{{199,76},{53,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-7}</string>
                <key>spriteSize</key>
                <string>{67,58}</string>
                <key>spriteSourceSize</key>
                <string>{333,250}</string>
                <key>textureRect</key>
                <string>{{171,185},{67,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,6}</string>
                <key>spriteSize</key>
                <string>{67,46}</string>
                <key>spriteSourceSize</key>
                <string>{333,250}</string>
                <key>textureRect</key>
                <string>{{199,108},{67,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,7}</string>
                <key>spriteSize</key>
                <string>{69,58}</string>
                <key>spriteSourceSize</key>
                <string>{333,250}</string>
                <key>textureRect</key>
                <string>{{100,185},{69,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,1}</string>
                <key>spriteSize</key>
                <string>{73,56}</string>
                <key>spriteSourceSize</key>
                <string>{333,250}</string>
                <key>textureRect</key>
                <string>{{199,1},{73,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-12}</string>
                <key>spriteSize</key>
                <string>{97,86}</string>
                <key>spriteSourceSize</key>
                <string>{333,250}</string>
                <key>textureRect</key>
                <string>{{1,95},{97,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-12}</string>
                <key>spriteSize</key>
                <string>{97,86}</string>
                <key>spriteSourceSize</key>
                <string>{333,250}</string>
                <key>textureRect</key>
                <string>{{1,183},{97,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-10}</string>
                <key>spriteSize</key>
                <string>{97,90}</string>
                <key>spriteSourceSize</key>
                <string>{333,250}</string>
                <key>textureRect</key>
                <string>{{100,1},{97,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-9}</string>
                <key>spriteSize</key>
                <string>{97,92}</string>
                <key>spriteSourceSize</key>
                <string>{333,250}</string>
                <key>textureRect</key>
                <string>{{1,1},{97,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-7}</string>
                <key>spriteSize</key>
                <string>{97,90}</string>
                <key>spriteSourceSize</key>
                <string>{333,250}</string>
                <key>textureRect</key>
                <string>{{100,93},{97,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>talent_20.png</string>
            <key>size</key>
            <string>{256,270}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b137210bd81cbc63adc7c11d9daf390e:0d45c436a83d3514084ed074e5449272:409825133f1ae4be9a50d2255b10fa68$</string>
            <key>textureFileName</key>
            <string>talent_20.png</string>
        </dict>
    </dict>
</plist>
