<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-28}</string>
                <key>spriteSize</key>
                <string>{13,10}</string>
                <key>spriteSourceSize</key>
                <string>{333,250}</string>
                <key>textureRect</key>
                <string>{{223,217},{13,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-20}</string>
                <key>spriteSize</key>
                <string>{31,26}</string>
                <key>spriteSourceSize</key>
                <string>{333,250}</string>
                <key>textureRect</key>
                <string>{{190,217},{31,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-18}</string>
                <key>spriteSize</key>
                <string>{51,30}</string>
                <key>spriteSourceSize</key>
                <string>{333,250}</string>
                <key>textureRect</key>
                <string>{{209,92},{51,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,8}</string>
                <key>spriteSize</key>
                <string>{79,80}</string>
                <key>spriteSourceSize</key>
                <string>{333,250}</string>
                <key>textureRect</key>
                <string>{{108,158},{79,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,16}</string>
                <key>spriteSize</key>
                <string>{95,64}</string>
                <key>spriteSourceSize</key>
                <string>{333,250}</string>
                <key>textureRect</key>
                <string>{{112,92},{95,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-7}</string>
                <key>spriteSize</key>
                <string>{57,56}</string>
                <key>spriteSourceSize</key>
                <string>{333,250}</string>
                <key>textureRect</key>
                <string>{{190,158},{57,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,19}</string>
                <key>spriteSize</key>
                <string>{89,118}</string>
                <key>spriteSourceSize</key>
                <string>{333,250}</string>
                <key>textureRect</key>
                <string>{{112,1},{89,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,15}</string>
                <key>spriteSize</key>
                <string>{109,114}</string>
                <key>spriteSourceSize</key>
                <string>{333,250}</string>
                <key>textureRect</key>
                <string>{{1,1},{109,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,14}</string>
                <key>spriteSize</key>
                <string>{105,116}</string>
                <key>spriteSourceSize</key>
                <string>{333,250}</string>
                <key>textureRect</key>
                <string>{{1,117},{105,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>talent_16.png</string>
            <key>size</key>
            <string>{247,244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c51e1fccfea6ef93f643d1044546f17d:d8a8cc3419e6ba72ade6aaf907ebb484:289aa3604806232f03069b1245300fac$</string>
            <key>textureFileName</key>
            <string>talent_16.png</string>
        </dict>
    </dict>
</plist>
