<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sm_gs_superskill1_0_hit_107901.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,23}</string>
                <key>spriteSize</key>
                <string>{90,66}</string>
                <key>spriteSourceSize</key>
                <string>{292,292}</string>
                <key>textureRect</key>
                <string>{{1,95},{90,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sm_gs_superskill1_0_hit_107902.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,22}</string>
                <key>spriteSize</key>
                <string>{96,74}</string>
                <key>spriteSourceSize</key>
                <string>{292,292}</string>
                <key>textureRect</key>
                <string>{{393,1},{96,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sm_gs_superskill1_0_hit_107903.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,21}</string>
                <key>spriteSize</key>
                <string>{104,84}</string>
                <key>spriteSourceSize</key>
                <string>{292,292}</string>
                <key>textureRect</key>
                <string>{{287,1},{104,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sm_gs_superskill1_0_hit_107904.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,3}</string>
                <key>spriteSize</key>
                <string>{102,72}</string>
                <key>spriteSourceSize</key>
                <string>{292,292}</string>
                <key>textureRect</key>
                <string>{{181,89},{102,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sm_gs_superskill1_0_hit_107905.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-3}</string>
                <key>spriteSize</key>
                <string>{138,86}</string>
                <key>spriteSourceSize</key>
                <string>{292,292}</string>
                <key>textureRect</key>
                <string>{{147,1},{138,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sm_gs_superskill1_0_hit_107906.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-6}</string>
                <key>spriteSize</key>
                <string>{144,92}</string>
                <key>spriteSourceSize</key>
                <string>{292,292}</string>
                <key>textureRect</key>
                <string>{{1,1},{144,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sm_gs_superskill1_0_hit_107907.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{47,-13}</string>
                <key>spriteSize</key>
                <string>{58,86}</string>
                <key>spriteSourceSize</key>
                <string>{292,292}</string>
                <key>textureRect</key>
                <string>{{93,95},{58,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sm_gs_superskill1_0_hit_107908.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{45,-13}</string>
                <key>spriteSize</key>
                <string>{56,54}</string>
                <key>spriteSourceSize</key>
                <string>{292,292}</string>
                <key>textureRect</key>
                <string>{{287,87},{56,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sm_gs_superskill1_0_hit_107909.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{46,-12}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{292,292}</string>
                <key>textureRect</key>
                <string>{{345,99},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sm_gs_superskill1_0_hit_107910.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{46,-13}</string>
                <key>spriteSize</key>
                <string>{56,54}</string>
                <key>spriteSourceSize</key>
                <string>{292,292}</string>
                <key>textureRect</key>
                <string>{{403,99},{56,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>talent_26.png</string>
            <key>size</key>
            <string>{468,162}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ea7b79c8b9b544379c1a0f67ff4efee:6aeeb71b606f5988091c596b5b61018f:ed1cc74995955a7ceb2e1eb1decf45e3$</string>
            <key>textureFileName</key>
            <string>talent_26.png</string>
        </dict>
    </dict>
</plist>
