<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sm_gs_superskill1_0_conjure_106601.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{148,86}</string>
                <key>spriteSourceSize</key>
                <string>{292,292}</string>
                <key>textureRect</key>
                <string>{{1,1},{148,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sm_gs_superskill1_0_conjure_106602.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,86}</string>
                <key>spriteSourceSize</key>
                <string>{292,292}</string>
                <key>textureRect</key>
                <string>{{129,145},{126,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sm_gs_superskill1_0_conjure_106603.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{116,94}</string>
                <key>spriteSourceSize</key>
                <string>{292,292}</string>
                <key>textureRect</key>
                <string>{{1,197},{116,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sm_gs_superskill1_0_conjure_106604.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,11}</string>
                <key>spriteSize</key>
                <string>{126,106}</string>
                <key>spriteSourceSize</key>
                <string>{292,292}</string>
                <key>textureRect</key>
                <string>{{1,89},{126,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sm_gs_superskill1_0_conjure_106605.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,9}</string>
                <key>spriteSize</key>
                <string>{142,94}</string>
                <key>spriteSourceSize</key>
                <string>{292,292}</string>
                <key>textureRect</key>
                <string>{{151,1},{142,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sm_gs_superskill1_0_conjure_106606.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,3}</string>
                <key>spriteSize</key>
                <string>{70,50}</string>
                <key>spriteSourceSize</key>
                <string>{292,292}</string>
                <key>textureRect</key>
                <string>{{119,233},{70,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>talent_14.png</string>
            <key>size</key>
            <string>{256,292}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b66bb5ca35b76beb4327947193dddae2:8c0c6a3261e426aace8b0a1b34d64ef5:db39370c982f906823282a0ba46ff8db$</string>
            <key>textureFileName</key>
            <string>talent_14.png</string>
        </dict>
    </dict>
</plist>
