<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{89,86}</string>
                <key>spriteSourceSize</key>
                <string>{333,250}</string>
                <key>textureRect</key>
                <string>{{129,376},{89,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,10}</string>
                <key>spriteSize</key>
                <string>{67,106}</string>
                <key>spriteSourceSize</key>
                <string>{333,250}</string>
                <key>textureRect</key>
                <string>{{137,1},{67,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,10}</string>
                <key>spriteSize</key>
                <string>{69,110}</string>
                <key>spriteSourceSize</key>
                <string>{333,250}</string>
                <key>textureRect</key>
                <string>{{131,176},{69,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,17}</string>
                <key>spriteSize</key>
                <string>{69,120}</string>
                <key>spriteSourceSize</key>
                <string>{333,250}</string>
                <key>textureRect</key>
                <string>{{1,432},{69,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,18}</string>
                <key>spriteSize</key>
                <string>{91,126}</string>
                <key>spriteSourceSize</key>
                <string>{333,250}</string>
                <key>textureRect</key>
                <string>{{1,339},{91,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,22}</string>
                <key>spriteSize</key>
                <string>{95,134}</string>
                <key>spriteSourceSize</key>
                <string>{333,250}</string>
                <key>textureRect</key>
                <string>{{1,1},{95,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,31}</string>
                <key>spriteSize</key>
                <string>{105,104}</string>
                <key>spriteSourceSize</key>
                <string>{333,250}</string>
                <key>textureRect</key>
                <string>{{137,70},{105,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,31}</string>
                <key>spriteSize</key>
                <string>{127,114}</string>
                <key>spriteSourceSize</key>
                <string>{333,250}</string>
                <key>textureRect</key>
                <string>{{130,247},{127,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,29}</string>
                <key>spriteSize</key>
                <string>{127,122}</string>
                <key>spriteSourceSize</key>
                <string>{333,250}</string>
                <key>textureRect</key>
                <string>{{1,215},{127,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,34}</string>
                <key>spriteSize</key>
                <string>{115,128}</string>
                <key>spriteSourceSize</key>
                <string>{333,250}</string>
                <key>textureRect</key>
                <string>{{1,98},{115,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>talent_18.png</string>
            <key>size</key>
            <string>{245,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7dfed027cfd23c353577d2ac8d8c259b:90ce29829600818c8816b0349b36a12b:b9dc3315c894bdfcf828edcb87adf91c$</string>
            <key>textureFileName</key>
            <string>talent_18.png</string>
        </dict>
    </dict>
</plist>
