<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sm_gs_superskill1_225_conjure_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-2}</string>
                <key>spriteSize</key>
                <string>{140,58}</string>
                <key>spriteSourceSize</key>
                <string>{292,292}</string>
                <key>textureRect</key>
                <string>{{1,1},{140,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sm_gs_superskill1_225_conjure_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,2}</string>
                <key>spriteSize</key>
                <string>{100,66}</string>
                <key>spriteSourceSize</key>
                <string>{292,292}</string>
                <key>textureRect</key>
                <string>{{1,143},{100,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sm_gs_superskill1_225_conjure_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,12}</string>
                <key>spriteSize</key>
                <string>{112,40}</string>
                <key>spriteSourceSize</key>
                <string>{292,292}</string>
                <key>textureRect</key>
                <string>{{201,1},{112,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sm_gs_superskill1_45_conjure_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,6}</string>
                <key>spriteSize</key>
                <string>{122,82}</string>
                <key>spriteSourceSize</key>
                <string>{292,292}</string>
                <key>textureRect</key>
                <string>{{103,131},{122,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sm_gs_superskill1_45_conjure_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-6}</string>
                <key>spriteSize</key>
                <string>{128,78}</string>
                <key>spriteSourceSize</key>
                <string>{292,292}</string>
                <key>textureRect</key>
                <string>{{61,1},{128,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sm_gs_superskill1_45_conjure_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-12}</string>
                <key>spriteSize</key>
                <string>{116,58}</string>
                <key>spriteSourceSize</key>
                <string>{292,292}</string>
                <key>textureRect</key>
                <string>{{141,1},{116,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>talent_104.png</string>
            <key>size</key>
            <string>{242,214}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d585348b40ed3bdb83d11b5fe2d58b87:ffad69444bdcb8372fce7ef66821ff69:eff180e3f7cb480a2ed75c5adedae0a3$</string>
            <key>textureFileName</key>
            <string>talent_104.png</string>
        </dict>
    </dict>
</plist>
