<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sm_ms_superskill1_45_hit_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,7}</string>
                <key>spriteSize</key>
                <string>{38,56}</string>
                <key>spriteSourceSize</key>
                <string>{292,292}</string>
                <key>textureRect</key>
                <string>{{197,137},{38,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sm_ms_superskill1_45_hit_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,11}</string>
                <key>spriteSize</key>
                <string>{54,58}</string>
                <key>spriteSourceSize</key>
                <string>{292,292}</string>
                <key>textureRect</key>
                <string>{{79,143},{54,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sm_ms_superskill1_45_hit_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,5}</string>
                <key>spriteSize</key>
                <string>{56,54}</string>
                <key>spriteSourceSize</key>
                <string>{292,292}</string>
                <key>textureRect</key>
                <string>{{139,143},{56,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sm_ms_superskill1_45_hit_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,11}</string>
                <key>spriteSize</key>
                <string>{88,74}</string>
                <key>spriteSourceSize</key>
                <string>{292,292}</string>
                <key>textureRect</key>
                <string>{{1,1},{88,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sm_ms_superskill1_45_hit_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,5}</string>
                <key>spriteSize</key>
                <string>{90,68}</string>
                <key>spriteSourceSize</key>
                <string>{292,292}</string>
                <key>textureRect</key>
                <string>{{77,1},{90,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sm_ms_superskill1_45_hit_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,4}</string>
                <key>spriteSize</key>
                <string>{84,76}</string>
                <key>spriteSourceSize</key>
                <string>{292,292}</string>
                <key>textureRect</key>
                <string>{{1,91},{84,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sm_ms_superskill1_45_hit_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,4}</string>
                <key>spriteSize</key>
                <string>{70,56}</string>
                <key>spriteSourceSize</key>
                <string>{292,292}</string>
                <key>textureRect</key>
                <string>{{165,79},{70,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sm_ms_superskill1_45_hit_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,6}</string>
                <key>spriteSize</key>
                <string>{84,70}</string>
                <key>spriteSourceSize</key>
                <string>{292,292}</string>
                <key>textureRect</key>
                <string>{{79,71},{84,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sm_ms_superskill1_45_hit_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,14}</string>
                <key>spriteSize</key>
                <string>{80,76}</string>
                <key>spriteSourceSize</key>
                <string>{292,292}</string>
                <key>textureRect</key>
                <string>{{169,1},{80,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>talent_34.png</string>
            <key>size</key>
            <string>{250,198}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:942ab4cc8f52d4e49b85cdd02b98995b:68b57bf564959939c1a2bd83d2beef8a:2b8f024e8305d3bc92b120fb31aee9c3$</string>
            <key>textureFileName</key>
            <string>talent_34.png</string>
        </dict>
    </dict>
</plist>
