<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sm_gs_superskill1_45_hit_000001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,6}</string>
                <key>spriteSize</key>
                <string>{90,82}</string>
                <key>spriteSourceSize</key>
                <string>{292,292}</string>
                <key>textureRect</key>
                <string>{{131,1},{90,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sm_gs_superskill1_45_hit_000002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,1}</string>
                <key>spriteSize</key>
                <string>{128,94}</string>
                <key>spriteSourceSize</key>
                <string>{292,292}</string>
                <key>textureRect</key>
                <string>{{1,1},{128,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sm_gs_superskill1_45_hit_000003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{114,82}</string>
                <key>spriteSourceSize</key>
                <string>{292,292}</string>
                <key>textureRect</key>
                <string>{{1,97},{114,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sm_gs_superskill1_45_hit_000004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{106,78}</string>
                <key>spriteSourceSize</key>
                <string>{292,292}</string>
                <key>textureRect</key>
                <string>{{117,97},{106,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sm_gs_superskill1_45_hit_000005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{78,74}</string>
                <key>spriteSourceSize</key>
                <string>{292,292}</string>
                <key>textureRect</key>
                <string>{{141,177},{78,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sm_gs_superskill1_45_hit_000006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{82,68}</string>
                <key>spriteSourceSize</key>
                <string>{292,292}</string>
                <key>textureRect</key>
                <string>{{1,181},{82,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sm_gs_superskill1_45_hit_000007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,2}</string>
                <key>spriteSize</key>
                <string>{66,54}</string>
                <key>spriteSourceSize</key>
                <string>{292,292}</string>
                <key>textureRect</key>
                <string>{{85,181},{66,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>talent_42.png</string>
            <key>size</key>
            <string>{224,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd4c3e15286b3939b053751aeecbb43b:c3dbd1ff7b43c70e4c318664e32b995a:4c52a43e86243ce48c5b9d2b22c3b8ed$</string>
            <key>textureFileName</key>
            <string>talent_42.png</string>
        </dict>
    </dict>
</plist>
