<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>破军攻击_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,27}</string>
                <key>spriteSize</key>
                <string>{233,84}</string>
                <key>spriteSourceSize</key>
                <string>{333,250}</string>
                <key>textureRect</key>
                <string>{{262,1},{233,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>破军攻击_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,22}</string>
                <key>spriteSize</key>
                <string>{261,116}</string>
                <key>spriteSourceSize</key>
                <string>{333,250}</string>
                <key>textureRect</key>
                <string>{{1,125},{261,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>破军攻击_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,22}</string>
                <key>spriteSize</key>
                <string>{259,122}</string>
                <key>spriteSourceSize</key>
                <string>{333,250}</string>
                <key>textureRect</key>
                <string>{{1,1},{259,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>破军攻击_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,22}</string>
                <key>spriteSize</key>
                <string>{253,122}</string>
                <key>spriteSourceSize</key>
                <string>{333,250}</string>
                <key>textureRect</key>
                <string>{{245,125},{253,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>破军攻击_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,22}</string>
                <key>spriteSize</key>
                <string>{253,124}</string>
                <key>spriteSourceSize</key>
                <string>{333,250}</string>
                <key>textureRect</key>
                <string>{{119,125},{253,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>破军攻击_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,21}</string>
                <key>spriteSize</key>
                <string>{151,124}</string>
                <key>spriteSourceSize</key>
                <string>{333,250}</string>
                <key>textureRect</key>
                <string>{{144,380},{151,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>破军攻击_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,21}</string>
                <key>spriteSize</key>
                <string>{143,124}</string>
                <key>spriteSourceSize</key>
                <string>{333,250}</string>
                <key>textureRect</key>
                <string>{{369,236},{143,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>破军攻击_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,21}</string>
                <key>spriteSize</key>
                <string>{141,122}</string>
                <key>spriteSourceSize</key>
                <string>{333,250}</string>
                <key>textureRect</key>
                <string>{{1,388},{141,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>破军攻击_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,21}</string>
                <key>spriteSize</key>
                <string>{147,122}</string>
                <key>spriteSourceSize</key>
                <string>{333,250}</string>
                <key>textureRect</key>
                <string>{{369,87},{147,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>破军攻击_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,21}</string>
                <key>spriteSize</key>
                <string>{145,122}</string>
                <key>spriteSourceSize</key>
                <string>{333,250}</string>
                <key>textureRect</key>
                <string>{{297,381},{145,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>talent_36.png</string>
            <key>size</key>
            <string>{496,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1631ae804ea6473fbcbdf5e8f00293a:e7ce82c8a14920158c727c193e5aca90:cfc58b87e1581a91c74f4479a475a0df$</string>
            <key>textureFileName</key>
            <string>talent_36.png</string>
        </dict>
    </dict>
</plist>
