<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sm_gs_superskill1_225_fly_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,15}</string>
                <key>spriteSize</key>
                <string>{48,38}</string>
                <key>spriteSourceSize</key>
                <string>{292,292}</string>
                <key>textureRect</key>
                <string>{{107,79},{48,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sm_gs_superskill1_225_fly_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,7}</string>
                <key>spriteSize</key>
                <string>{98,56}</string>
                <key>spriteSourceSize</key>
                <string>{292,292}</string>
                <key>textureRect</key>
                <string>{{307,1},{98,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sm_gs_superskill1_225_fly_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-6}</string>
                <key>spriteSize</key>
                <string>{148,82}</string>
                <key>spriteSourceSize</key>
                <string>{292,292}</string>
                <key>textureRect</key>
                <string>{{157,1},{148,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sm_gs_superskill1_225_fly_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{98,54}</string>
                <key>spriteSourceSize</key>
                <string>{292,292}</string>
                <key>textureRect</key>
                <string>{{307,59},{98,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sm_gs_superskill1_45_fly_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,1}</string>
                <key>spriteSize</key>
                <string>{56,32}</string>
                <key>spriteSourceSize</key>
                <string>{292,292}</string>
                <key>textureRect</key>
                <string>{{157,85},{56,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sm_gs_superskill1_45_fly_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,9}</string>
                <key>spriteSize</key>
                <string>{104,48}</string>
                <key>spriteSourceSize</key>
                <string>{292,292}</string>
                <key>textureRect</key>
                <string>{{1,79},{104,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sm_gs_superskill1_45_fly_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,22}</string>
                <key>spriteSize</key>
                <string>{154,76}</string>
                <key>spriteSourceSize</key>
                <string>{292,292}</string>
                <key>textureRect</key>
                <string>{{1,1},{154,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sm_gs_superskill1_45_fly_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,9}</string>
                <key>spriteSize</key>
                <string>{104,48}</string>
                <key>spriteSourceSize</key>
                <string>{292,292}</string>
                <key>textureRect</key>
                <string>{{407,1},{104,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>talent_40.png</string>
            <key>size</key>
            <string>{456,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:544e2be39c35647804a52012d6f5f4a2:e2d8574091a0845ad38ae4fcb7862f28:9f873d47ec28de9dafeb15b5f6bf97e1$</string>
            <key>textureFileName</key>
            <string>talent_40.png</string>
        </dict>
    </dict>
</plist>
