<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hyy_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-8}</string>
                <key>spriteSize</key>
                <string>{90,85}</string>
                <key>spriteSourceSize</key>
                <string>{210,153}</string>
                <key>textureRect</key>
                <string>{{1,831},{90,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hyy_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{66,105}</string>
                <key>spriteSourceSize</key>
                <string>{210,153}</string>
                <key>textureRect</key>
                <string>{{1,763},{66,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hyy_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,2}</string>
                <key>spriteSize</key>
                <string>{70,111}</string>
                <key>spriteSourceSize</key>
                <string>{210,153}</string>
                <key>textureRect</key>
                <string>{{1,425},{70,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hyy_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,8}</string>
                <key>spriteSize</key>
                <string>{68,119}</string>
                <key>spriteSourceSize</key>
                <string>{210,153}</string>
                <key>textureRect</key>
                <string>{{1,245},{68,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hyy_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-7}</string>
                <key>spriteSize</key>
                <string>{106,127}</string>
                <key>spriteSourceSize</key>
                <string>{210,153}</string>
                <key>textureRect</key>
                <string>{{1,634},{106,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hyy_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-3}</string>
                <key>spriteSize</key>
                <string>{106,135}</string>
                <key>spriteSourceSize</key>
                <string>{210,153}</string>
                <key>textureRect</key>
                <string>{{1,497},{106,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hyy_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,2}</string>
                <key>spriteSize</key>
                <string>{108,111}</string>
                <key>spriteSourceSize</key>
                <string>{210,153}</string>
                <key>textureRect</key>
                <string>{{1,315},{108,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hyy_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,8}</string>
                <key>spriteSize</key>
                <string>{126,119}</string>
                <key>spriteSourceSize</key>
                <string>{210,153}</string>
                <key>textureRect</key>
                <string>{{1,124},{126,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hyy_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,4}</string>
                <key>spriteSize</key>
                <string>{126,121}</string>
                <key>spriteSourceSize</key>
                <string>{210,153}</string>
                <key>textureRect</key>
                <string>{{1,1},{126,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>talent_2.png</string>
            <key>size</key>
            <string>{128,917}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b5017111ce3f63efd2b1af99340d8f8:62efb9cb5b5d76c9fa47d0b89cb0c613:27af3c6f9bed9123f1db112cbef769f8$</string>
            <key>textureFileName</key>
            <string>talent_2.png</string>
        </dict>
    </dict>
</plist>
