<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-4}</string>
                <key>spriteSize</key>
                <string>{149,49}</string>
                <key>spriteSourceSize</key>
                <string>{267,267}</string>
                <key>textureRect</key>
                <string>{{1,99},{149,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-4}</string>
                <key>spriteSize</key>
                <string>{153,47}</string>
                <key>spriteSourceSize</key>
                <string>{267,267}</string>
                <key>textureRect</key>
                <string>{{1,1},{153,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-4}</string>
                <key>spriteSize</key>
                <string>{153,47}</string>
                <key>spriteSourceSize</key>
                <string>{267,267}</string>
                <key>textureRect</key>
                <string>{{1,50},{153,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-3}</string>
                <key>spriteSize</key>
                <string>{151,45}</string>
                <key>spriteSourceSize</key>
                <string>{267,267}</string>
                <key>textureRect</key>
                <string>{{1,150},{151,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-4}</string>
                <key>spriteSize</key>
                <string>{147,43}</string>
                <key>spriteSourceSize</key>
                <string>{267,267}</string>
                <key>textureRect</key>
                <string>{{1,248},{147,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-2}</string>
                <key>spriteSize</key>
                <string>{145,49}</string>
                <key>spriteSourceSize</key>
                <string>{267,267}</string>
                <key>textureRect</key>
                <string>{{1,197},{145,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-2}</string>
                <key>spriteSize</key>
                <string>{145,49}</string>
                <key>spriteSourceSize</key>
                <string>{267,267}</string>
                <key>textureRect</key>
                <string>{{156,1},{145,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-2}</string>
                <key>spriteSize</key>
                <string>{143,51}</string>
                <key>spriteSourceSize</key>
                <string>{267,267}</string>
                <key>textureRect</key>
                <string>{{154,148},{143,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>talent_8.png</string>
            <key>size</key>
            <string>{206,292}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1455f9a4756ae78521bf6e6aa3ffe9e:8a2985c91c62185b2103e7ac1922c05e:6a88505ab431de33d01508858d1151a0$</string>
            <key>textureFileName</key>
            <string>talent_8.png</string>
        </dict>
    </dict>
</plist>
