<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>雷鸣_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,37}</string>
                <key>spriteSize</key>
                <string>{47,176}</string>
                <key>spriteSourceSize</key>
                <string>{333,250}</string>
                <key>textureRect</key>
                <string>{{443,1},{47,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>雷鸣_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,28}</string>
                <key>spriteSize</key>
                <string>{97,194}</string>
                <key>spriteSourceSize</key>
                <string>{333,250}</string>
                <key>textureRect</key>
                <string>{{205,203},{97,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>雷鸣_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,25}</string>
                <key>spriteSize</key>
                <string>{219,200}</string>
                <key>spriteSourceSize</key>
                <string>{333,250}</string>
                <key>textureRect</key>
                <string>{{1,1},{219,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>雷鸣_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,25}</string>
                <key>spriteSize</key>
                <string>{207,200}</string>
                <key>spriteSourceSize</key>
                <string>{333,250}</string>
                <key>textureRect</key>
                <string>{{1,416},{207,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>雷鸣_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,25}</string>
                <key>spriteSize</key>
                <string>{219,200}</string>
                <key>spriteSourceSize</key>
                <string>{333,250}</string>
                <key>textureRect</key>
                <string>{{222,1},{219,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>雷鸣_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,24}</string>
                <key>spriteSize</key>
                <string>{211,202}</string>
                <key>spriteSourceSize</key>
                <string>{333,250}</string>
                <key>textureRect</key>
                <string>{{1,203},{211,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>雷鸣_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-14}</string>
                <key>spriteSize</key>
                <string>{143,126}</string>
                <key>spriteSourceSize</key>
                <string>{333,250}</string>
                <key>textureRect</key>
                <string>{{314,429},{143,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>雷鸣_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-16}</string>
                <key>spriteSize</key>
                <string>{179,114}</string>
                <key>spriteSourceSize</key>
                <string>{333,250}</string>
                <key>textureRect</key>
                <string>{{304,313},{179,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>雷鸣_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-13}</string>
                <key>spriteSize</key>
                <string>{181,108}</string>
                <key>spriteSourceSize</key>
                <string>{333,250}</string>
                <key>textureRect</key>
                <string>{{304,203},{181,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>雷鸣_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-16}</string>
                <key>spriteSize</key>
                <string>{173,102}</string>
                <key>spriteSourceSize</key>
                <string>{333,250}</string>
                <key>textureRect</key>
                <string>{{210,429},{173,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>talent_44.png</string>
            <key>size</key>
            <string>{491,617}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09e04345b0d903a2913ce086fbfad0d9:b040ffb72c41ca5560333dc4a75739c4:3b0d761976b2df84ba7e576a43063a81$</string>
            <key>textureFileName</key>
            <string>talent_44.png</string>
        </dict>
    </dict>
</plist>
