<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sm_ms_superskill1_45_hit_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,80}</string>
                <key>spriteSize</key>
                <string>{74,84}</string>
                <key>spriteSourceSize</key>
                <string>{292,292}</string>
                <key>textureRect</key>
                <string>{{1,157},{74,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sm_ms_superskill1_45_hit_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,83}</string>
                <key>spriteSize</key>
                <string>{106,94}</string>
                <key>spriteSourceSize</key>
                <string>{292,292}</string>
                <key>textureRect</key>
                <string>{{397,135},{106,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sm_ms_superskill1_45_hit_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,80}</string>
                <key>spriteSize</key>
                <string>{132,98}</string>
                <key>spriteSourceSize</key>
                <string>{292,292}</string>
                <key>textureRect</key>
                <string>{{381,1},{132,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sm_ms_superskill1_45_hit_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,20}</string>
                <key>spriteSize</key>
                <string>{134,154}</string>
                <key>spriteSourceSize</key>
                <string>{292,292}</string>
                <key>textureRect</key>
                <string>{{1,1},{134,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sm_ms_superskill1_45_hit_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,18}</string>
                <key>spriteSize</key>
                <string>{124,150}</string>
                <key>spriteSourceSize</key>
                <string>{292,292}</string>
                <key>textureRect</key>
                <string>{{137,1},{124,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sm_ms_superskill1_45_hit_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,12}</string>
                <key>spriteSize</key>
                <string>{116,138}</string>
                <key>spriteSourceSize</key>
                <string>{292,292}</string>
                <key>textureRect</key>
                <string>{{263,1},{116,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sm_ms_superskill1_45_hit_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-9}</string>
                <key>spriteSize</key>
                <string>{100,90}</string>
                <key>spriteSourceSize</key>
                <string>{292,292}</string>
                <key>textureRect</key>
                <string>{{305,141},{100,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sm_ms_superskill1_45_hit_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{88,80}</string>
                <key>spriteSourceSize</key>
                <string>{292,292}</string>
                <key>textureRect</key>
                <string>{{77,157},{88,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sm_ms_superskill1_45_hit_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-5}</string>
                <key>spriteSize</key>
                <string>{86,80}</string>
                <key>spriteSourceSize</key>
                <string>{292,292}</string>
                <key>textureRect</key>
                <string>{{223,153},{86,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sm_ms_superskill1_45_hit_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-19}</string>
                <key>spriteSize</key>
                <string>{88,54}</string>
                <key>spriteSourceSize</key>
                <string>{292,292}</string>
                <key>textureRect</key>
                <string>{{167,153},{88,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>talent_10.png</string>
            <key>size</key>
            <string>{492,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af0a6fa52bfa247e4778b85bf8190766:c3bfe084b079fb0db9bbe35e03a76612:9e72d694783d9747ba3ca4b5b320a2e6$</string>
            <key>textureFileName</key>
            <string>talent_10.png</string>
        </dict>
    </dict>
</plist>
